<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users-List</title>
    <link rel="stylesheet" type="text/css" href="/css/admin-user_list.css" />
</head>

<body>
    <div class="title">
        <div id="id">아이디</div>
        <div id="nickname">닉네임</div>
        <div id="email">이메일</div>
    </div><br><br>
    <hr>
    <% for(var i=0; i<data.length; i++) { %>
        <div id="number">
            <%= i+1 %>
        </div><br>
        <div id="id">
            아이디 : <%= data[i].id %>
        </div><br>
        <div id="nickname">
            닉네임 : <%= data[i].name %>
        </div><br>
        <div id="email">
            이메일  : <%= data[i].email %>
        </div><br>
        <div>
            회원가입 날짜 : <%= data[i].insert_date %>
        </div><br>
        <div>
            최종수정 날짜 :<%= data[i].update_date %>
        </div><br>
        <form action="/admin/user_update" method="post">
            <input type="hidden" value="<%= data[i]._id %>" name="_id">
            <button onclick="location.reload(true)" type="submit">수정</button>
        </form>
        <br><br>
        <hr>
    <% } %>
    <div>
        <form action="/users/logout" method="post"><button type="submit">로그아웃</button></form>
    </div>
    <div>
        <form action="/users/login" method="get"><button type="submit">홈으로</button></form>
    </div>
</body>

</html>