<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users-Update</title>
    <link rel="stylesheet" type="text/css" href="/css/admin-user_update.css" />
</head>

<body>
    <form action="/admin/user_edit" method="post">
        <input type="text" value="<%= data.id %>" name="id"><br>
        <input type="text" value="<%= data.name %>" name="nickname"><br>
        <input type="email" value="<%= data.email %>" name="email"><br>
        <input type="hidden" value="<%= data.id %>" name="original_id">
        <div id="button"><button onclick="window.location.reload()" type="submit">수정</button></div>
    </form>
    <div id="button">
        <form action="/admin/user_delete" method="post">
            <input type="hidden" value="<%= data.id %>" name="original_id">
            <button onclick="window.location.reload(true)" type="submit">삭제</button>
        </form>
    </div>
    <div id="button">
        <form action="/admin/user_list" method="get">
            <button onclick="window.location.reload(true)" type="submit">목록</button>
        </form>
    </div>
</body>

</html>